.content-component {
    margin: 0 auto;
    width: 1180px;

    .header-container {
        background-color: #4393D9;
        color: #dedede;
        padding: 1rem;

        h1 {
            font-size: 2.4rem;
        }
    }
}