.content-component {
    margin: 0 auto;
    width: 1180px;

    .header-container {
        border-bottom: solid 1px #4393D9;
        padding: 1rem 0;

        h1 {
            color: #4393D9;
            font-size: 3em;
            font-family: 'Mansalva', cursive;
            margin: 0;
        }
        
        h2 {
            color: #4393D9;
            font-size: 1.7rem;
            font-weight: 100;
            margin: 0;
        }
    }

    .content-container {
        margin-top: 2rem;

        .article-headers {
            margin-bottom: 2rem;
            h1 {
                font-size: 2rem;
                font-weight: bold;
                margin: 0;
            }
    
            h2 {
                font-size: 1.2rem;
                font-weight: 200;
                margin: -0.2rem 0 0 0 ;
            }
        }

        .article-content {
            .article-author-pullout {
                float: right;
                margin-left: 1rem;
                margin-bottom: 1rem;
                width: 25vw;

                .analyst-level {
                    color: #4393D9;
                    font-weight: bold;
                }

                .avatar {
                    background-image: url('../../../assets/rachael-cho-avatar.jpg');
                    background-size: cover;
                }
            }
        }
    }
}