<div class="content-component">
    <div class="header-container">
        <h1>The truth is out there</h1>
        <h2>a community for news analysis</h2>
    </div>

    <div class="content-container">
        <div class="article-headers">
            <h1>Trump defends Syria troop plan from criticism home, abroad</h1>
            <h2>
                Originally published
                <a href="https://www.apnews.com/ac3115b4eb564288a03a5b8be868d2e5" target="_blank" norel noopener
                    noreferrer>here</a>
                by
                <a href="#">The Associated Press</a>
                on
                <strong>10/7/2019</strong>
                at
                <strong>12:37pm EST</strong>
            </h2>
        </div>

        <div class="article-content">
            <div class="article-author-pullout">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="avatar"></div>
                        <mat-card-title>Rachael Cho</mat-card-title>
                        <mat-card-subtitle><span class="analyst-level">Platinum</span>-level analyst</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image
                        src="https://pmcvariety.files.wordpress.com/2019/04/taraji-16x9-1000px-3.jpg?w=999"
                        alt="Rachael Cho cover photo">
                    <mat-card-content>
                        <p>
                            Rachael is a <strong>Platinum</strong>-level contributor to the community. She
                            has a PhD in political science from Stanford University and has
                            written over 40 analyses of articles from sources like the Huffington Post, Fox News
                            Business, and ESPN.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dignissim tincidunt tortor, et fermentum est
                tristique sit amet. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia
                nostra,
                per
                inceptos himenaeos. Etiam vehicula massa vel ligula porttitor imperdiet. Integer id porta orci. Aliquam
                suscipit
                placerat nulla vitae ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                cubilia
                Curae;
            </p>

            <p>
                Ut vitae sapien urna. Sed vel interdum tortor. Aliquam tincidunt egestas neque a rutrum. Suspendisse nec
                mollis
                leo, ut scelerisque ante. Sed id varius turpis, ac iaculis sem. Sed cursus tellus vel dui blandit
                ultrices
                sit
                amet sit amet justo. Praesent sapien ipsum, blandit sit amet facilisis sit amet, vulputate sed urna.
                Nunc
                sit
                amet dictum nisi, ut semper leo. Sed lacinia nisl vel vehicula iaculis. Mauris sapien elit, volutpat a
                tincidunt
                vel, vestibulum vel sem. Sed placerat semper nisl ut eleifend. Cras at odio ac dolor sodales rutrum in
                sit
                amet
                risus.
            </p>

            <p>
                Phasellus congue massa quis ipsum malesuada, non mollis arcu placerat. Mauris mollis est in metus porta,
                ac
                vestibulum quam porta. Mauris lacinia, ligula id accumsan dignissim, erat ante iaculis ex, sed venenatis
                est
                felis eleifend tellus. Vivamus consequat lacus id euismod condimentum. Phasellus consequat tellus nec
                libero
                accumsan fringilla. Quisque metus turpis, convallis sed risus sed, lacinia sodales arcu. Donec tempus
                accumsan
                mauris, sit amet dignissim eros blandit id. Fusce quis enim euismod, ultrices augue vitae, finibus mi.
            </p>
        </div>
    </div>
</div>